html {
  color: white;
  background-color: black;
  height: fit-content;
}

body {
  font-family: Helvetica, sans-serif;
  width: 400px;
  height: fit-content;
}

h1 {
  text-align: center;
  margin-bottom: 0%;
}

#convert {
  border-radius: 0px;
  border-color: white;
  width: 100%;
  padding: 10px 0px;
  color: white;
  background-color: black;
}

#convert:hover {
  background-color: white;
  color: black;
}

#notification {
  text-align: center;
  font-size: 30px;
  color: green;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

#ResolverList {
  width: 100%;
  height: auto;
  border-radius: 0px;
  border-color: white;
  color: yellow;
  background-color: black;
  display: flex;
  flex-direction: column;
}

#update {
  width: 100%;
  font-size: large;
  padding: 0px 0px;
  color: green;
  background-color: black;
  text-align: center;
  display: none;
}