html {
  color: white;
  background-color: black;
  height: fit-content;
  font-size: large;
}

body {
  font-family: Helvetica, sans-serif;
  width: 400px;
  height: fit-content;
}

h1 {
  text-align: center;
  margin-bottom: 0%;
}

#version {
  font-size: small;
}

#Deprecation {
  font-size: small;
  color: red;
}

#convert {
  border-radius: 0px;
  border-color: white;
  width: 100%;
  padding: 10px 0px;
  color: white;
  background-color: black;
}

#convert:hover {
  background-color: white;
  color: black;
}

#notification {
  text-align: center;
  font-size: 30px;
  color: green;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

#ResolverList {
  width: 100%;
  height: auto;
  border-radius: 0px;
  border-color: white;
  color: yellow;
  background-color: black;
  display: flex;
  flex-direction: column;
  font-size: large;
}

#resolver {
  width: 100%;
  height: auto;
  border-radius: 0px;
  border-color: white;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
}

#resolverText {
  font-size: large;
}
